/* Asegúrate de que el body y el contenedor principal tengan estos estilos */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
  }
  
  .container {
    height: 100%;
    overflow-y: auto;
    padding-right: 15px; /* Esto agrega espacio cuando la barra de scroll es visible */
  }
  
  /* Estilo para la barra de desplazamiento (si es necesario personalizarla) */
  ::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: #555;
  }
  