@tailwind base;
@tailwind components;
@tailwind utilities;

/* Elimina márgenes y paddings globales */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Fondo personalizado para la sección Home */
.bg-home-bg {
  background-image: url('./assets/BG.jpg'); /* Asegúrate de que la ruta sea correcta */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* Asegúrate de que html y body ocupen toda la pantalla */
html, body {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden; /* Evitar desbordamiento horizontal */
}

/* El contenedor raíz debe ocupar toda la ventana */
#root {
  height: 100%;
  width: 100%;
}
